body{
    background-color: #f74f32;
}
.btn {
    width: 80px;
    height: 80px;
    margin: 20px;
    background: #fafafa;
    color:#f74f32;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 9px 42px -8px rgba(20, 20, 20, 1);
}

button {
    padding: 0;
    border: none;
    outline: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

button:active {
   
    transform: translateY(4px);
    filter: brightness(87%);
}

.btn:nth-child(-n+4) {
    background-color: #f9a799;
    color:#fff;
}

.btn:nth-child(4n-2) {
    margin-left: 0;
}

.btn:nth-child(4n+1) {
    background-color: #f9a799;
    color:#fff;
    margin-right: 0;
}

/*
.btn:last-child {
    background-color: #fd9932;
}
*/

.calc-bg {
    width: 580px;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
}

#calc {
    padding-top: 40px;
    margin: 0 auto;
    width: 440px;
    padding: 40px 0;
}

#inputVal {
    width: 400px;
    overflow: hidden;
    height: 80px;
    display: block;
    border: 0px;
    font-size: 16px;
    resize: vertical;
    padding: 0 20px;
    border-radius:40px;
    outline: none;
    font-size: 60px;
    line-height: 80px;
    text-align: right;
    color: #fff;
    background-color: #e04a30;
}
