.btn {
    width: 80px;
    height: 80px;
    margin: 20px;
    background: #2f3432;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 5px 2px 0px rgba(20, 20, 20, 1);
}

button {
    padding: 0;
    border: none;
    outline: none;
    color: #fff;
    font-size: 26px;
    font-family: 'Gloria Hallelujah', cursive;
}

button:active {
    box-shadow: 0 3px 1px #222;
    transform: translateY(4px);
    filter: brightness(87%);
}

.btn:nth-child(-n+4) {
    background-color: gray;
}

.btn:nth-child(4n-2) {
    margin-left: 0;
}

.btn:nth-child(4n+1) {
    background-color: #ff4461;
    margin-right: 0;
}

.btn:last-child {
    background-color: #fd9932;
}

.calc-bg {
    width: 580px;
    height: 100%;
    background-color: #3f4440;
    border-radius: 20px;
    ;
}

#calc {
    padding-top: 40px;
    margin: 0 auto;
    width: 440px;
    padding: 40px 0;
}

#inputVal {
    width: 440px;
    overflow: hidden;
    height: 80px;
    display: block;
    border: 0px;
    font-size: 16px;
    resize: vertical;
    padding: 0;
    border-radius: 15px;
    outline: none;
    font-size: 60px;
    line-height: 80px;
    text-align: right;
    color: #000;
    background-color: #bccd96;
}